.mainContentDiv {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 24px;
  max-width: 542px;
  width: 100%;
}

.contentHeaderDiv {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentHeaderDiv h2 {
  color: var(--primary-text-color);
  font-size: 24px;
}

.contentHeaderDiv p {
  color: var(--secondary-text-color);
  font-size: 16px;
}

.divContentIcon {
  width: 40px;
  height: 40px;
  background-color: var(--background-settings-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.ContentIconStyled {
  width: 24px;
  height: 24px;
  color: var(--background-settings-button-icon-color);
}
